// genearl
$white: #fff;
$black: #000;

// main
$default: #0C0402;
$text: #1E1B1B;
$bg: #E5E5E5;
$light: #F4F4F4;

$gradient: linear-gradient(90deg, rgba($black, 1) 0%, rgba($black, 0) 100%);
$boxShadow: 5rem 5rem 9rem 0 rgba($default, 0.02);

$primary: #440413;
$red: #C12716;
// info

$danger: #FE0000;
$success: #1FA956;
$info: #26badf;
$warning: #fbf8db;

// mixins

@mixin linear-gradient($direction, $fromColor, $toColor) {
  background-color: $fromColor;
  background-image: linear-gradient($direction, $fromColor, $toColor);
}

