@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter Italic';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Baskerville Old Face';
    src: url('../fonts/Baskerville-Old-Face/BaskervilleOldFace-Regular.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}



$BaskervilleOldFace: "Baskerville Old Face", sans-serif ;
$LibreBaskerville: "Libre Baskerville", sans-serif ;
$Inter: "Inter", sans-serif ;
$InterItalic: "Inter Italic", sans-serif ;



$h1 : 400 82rem/100% $BaskervilleOldFace;
$h2 : 500 60rem/100% $LibreBaskerville;
$h2S : 500 52rem/100% $LibreBaskerville;
$h3 : 500 30rem/120% $LibreBaskerville;
$h4 : 600 28rem/100% $BaskervilleOldFace;
$h5 : 400 22rem/110% $BaskervilleOldFace;

$h1m : 400 48rem/110% $Inter;
$h2m : 400 30rem/42rem $Inter;
$h3m : 400 20rem/29rem $Inter;
$h4m : 400 18rem/140% $Inter;
$h5m : 400 18rem/126% $Inter;

$button : 600 16rem/120% $Inter;
$nav : 400 16rem/normal $Inter;
$body : 400 16rem/130% $Inter;
$title : 500 16rem/100% $LibreBaskerville;
$bodyL : 300 20rem/110% $Inter;
$bodyM : 400 14rem/21rem $Inter;
$bodyS : 300 14rem/20rem $Inter;

